.note-list {
  background: #444;
}

.note-list-item {
  border-top: 1px solid #666;
  color: #ddd;
}

.note-list-item:first-child {
  border-top: 0;
}

.note-list-item-text {
  color: gray;
}

.active-note {
  background-color: white;
}

.note-list .selected {
  background: linear-gradient(90deg, #444, lightslategray);
  color: white;
}

.note-list .selected .note-list-item-text {
  color: lightgray;
}

.note-list h4 {
  margin: 0;
  font-size: 18px;
}

.note-icon {
  float: right;
  visibility: collapse;
  background: transparent;
}

.note-icon:hover {
  background: #333;
  border-radius: 3px;
  color: #f04949;
}

li:hover .note-icon {
  visibility: visible;
  cursor: pointer;
}

#note-header {
  margin: 0;
  padding: 0;
}
