.box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
}

.loader {
  border: 1em solid slategray;
  border-top: 1em solid rgba(112, 128, 144, 0.5);
  animation: spin 2s linear infinite;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 0 auto;
  position: relative;
  top: 40%;
  left: 0;
  background: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
