.busy-container {
  position: relative;
}

.error {
  display: inherit;
  color: #f04949;
  background-color: #f2dede;
  margin-bottom: -3px;
  border-radius: 3px;
}

.ng-invalid.ng-dirty:not(:focus),
.ng-invalid.ng-touched:not(:focus) {
  border-color: #e74c3c;
}
