<section id="notes-section">

  <div class="pane-group">
    <div class="pane pane-sm sidebar">

      <header class="note-list-header">

        <button class="btn-icon dark-themed btn-section" (click)="closeBook()">
          <span class="icon icon-book"></span>
        </button>
        <span id="bookTitle" class="title dark-themed">{{book.name}}</span>
        <div class="loader" [@saveState]="saveState"></div>

        <div class="btn-group">
          <button class="add-note btn-icon btn-add dark-themed" (click)="addNote()">
            <span class="icon icon-list-add"></span>
          </button>
        </div>

        <div class="note-search">
          <input class="form-control search-box" type="text" placeholder="Search" [ngModel]="noteFilter | async" (ngModelChange)="noteFilter.next($event)">
        </div>
      </header>

      <app-notes-list [notes]="filteredNotes | async" [selectedNoteId]="selectedNoteId | async" [bookTitle]="book.name" (selectNote)="selectNote($event)"
        (deleteNote)="deleteNoteDialog.open($event)">
      </app-notes-list>

    </div>
    <div id="wrapper" class="pane">
      <app-editor [selectedNote]="selectedNote | async" (changeNote)="updateNote($event)" (addNote)=addNote($event)></app-editor>
    </div>

    <app-delete-note (deleteConfirmed)="deleteNote($event)" #deleteNoteDialog></app-delete-note>

  </div>
</section>
