<section id="notes-section">

  <div class="pane-group">
    <div class="pane pane-sm sidebar">

      <header id="notebookHeader">

        <button id="notebooksButton" class="plain-btn dark-themed btn-section" (click)="closeBook()">
          <!-- <i class="fa fa-book fa-fw" aria-hidden="true"></i> -->
          <span class="icon icon-book"></span>
        </button>
        <span id="bookTitle" class="title dark-themed">{{book.name}}</span>
        <div class="loader"></div>

        <div class="btn-group">
          <button class="add-note plain-btn btn-add dark-themed" (click)="addNote()">
            <span class="icon icon-list-add"></span>
          </button>
        </div>

        <div id="noteSearch">
          <input class="form-control search-box" type="text" placeholder="Search">
        </div>
      </header>

      <app-notes-list [notes]="notes" [(selectedNote)]="selectedNote" [bookTitle]="book.name">
      </app-notes-list>

    </div>
    <div id="wrapper" class="pane">
      <!-- [title]="selectedNote?.name" -->
      <app-editor [selectedNote]="selectedNote" (requestAddNote)=addNote()></app-editor>
    </div>
  </div>
</section>
