.box {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
}

.loader {
  border: solid slategray;
  border-top-color: rgba(112, 128, 144, 0.5);
  animation: spin 2s linear infinite;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  background: transparent;
  visibility: inherit;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
