<div id="note-title-wrapper" [ngClass]="{ 'edit-mode': titleEditMode, 'validation-error': titleForm.status === 'INVALID' }"
  #noteTitle>
  <label *ngIf="!titleEditMode" class="note-title" (dblclick)="setTitleEditMode(true)" from="title">
    {{ selectedNote?.name }}</label>
  <form [formGroup]="titleForm" novalidate>
    <input *ngIf="titleEditMode" class="note-title" (keydown.enter)="onTitleEditComplete()" (blur)="setTitleEditMode(false)"
      type="text" formControlName="title" [ngModel]="selectedNote?.name" />
  </form>
  <div class="attachments-container">
    <button class="attachment fa fa-paperclip" (click)="inputFile.click()"></button>
    <input multiple type="file" id="inputFile" class="attachment-input" (change)="handleFileInput($event.target.files)"
      #inputFile />
    <ul *ngIf="selectedNote && selectedNote.attachments">
      <li *ngFor="let a of selectedNote.attachments">
        <div>
          <strong>{{ a.name }}</strong> ({{ a.type }}) <br />
          {{ a.size }} bytes
          <button class="download" (click)="downloadAttachment(a)">download</button>
        </div>
      </li>
    </ul>
  </div>

  <app-busy [isBusy]="isSaving" [fadeOut]="true" [size]="1.5"></app-busy>
</div>

<textarea id="{{ elementId }}"></textarea>
<div *ngIf="!selectedNote" class="editor-placeholder">
  <div class="placeholder-content">
    <span class="text">add note</span>
    <button class="add-note btn-icon icon-plus" (click)="onAddNote()"></button>
  </div>
</div>

<app-busy [isBusy]="!editorReady" [size]="10" [overlay]="'white'"></app-busy>
