<div class="busy-container">

  <div class="dialog-header">
    <h1 class="title">login</h1>
  </div>
  <div class="dialog-content">
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="username" [(ngModel)]="model.username" #username="ngModel"
        required />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="model.password" #password="ngModel"
        required />
    </div>

    <div *ngIf="error" class="error">{{ error }}</div>
  </div>

  <div class="dialog-buttons">
    <button class="btn btn-plain btn-cancel btn-left" (click)="cancel()">Cancel</button>
    <button [disabled]="loading" class="btn btn-plain btn-ok btn-right" (click)="login()" tabindex="2">Login</button>
  </div>
  <app-busy [isBusy]="loading"></app-busy>
</div>
