:host {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background: #333;
  width: 4em;
}

.nav-item {
  color: lightgray;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

.navigation-menu .nav-item:hover {
  cursor: pointer;
}

.nav-item-active {
  color: white;
  background: slategray;
}

.nav-item-info {
  color: white;
  background: slategray;
}

.sideways {
  text-orientation: sideways;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  margin: 0.5em auto 0 auto;
  overflow: hidden;
}

.nav-item>* {
  margin: 0.2em auto;
}

.nav-item>p {
  font-size: 1.2em;
}

nav .nav-item {
  padding: 0.3em 0;
  outline: none;
}

.nav-item.disabled {
  pointer-events: none;
  cursor: default;
}

.sync-wrapper {
  height: 1.5em;
}

.smaller {
  font-size: 1em;
}

#user {
  cursor: pointer;
}

#sync-ok {
  color: #c0eb75;
}

#sync-warning {
  color: #ffc078;
}
