<nav>
  <div class="content-menu">
    <div class="nav-item" *ngIf="selectedNavigationItem && selectedNavigationItem.action">
      <button class="btn-icon icon-plus" title="add" (click)="executeAddAction(selectedNavigationItem)"></button>
    </div>
  </div>
  <div class="navigation-menu">

    <div [routerLink]="n.routerLink" class="nav-item" [ngClass]="{ 'nav-item-active': n.isSelected,'disabled' : n.isSelected, 'nav-item-info' : n.isInfo }"
      *ngFor="let n of visibleNavigationItems">

      <p *ngIf="n.isSelected" [@growIn]="n.isSelected" class="sideways">{{ n.name }}</p>
      <button class="btn-icon fa fa-{{n.icon}}" title="{{n.name}}">
      </button>
    </div>

  </div>
  <div class="login-menu">
    <div class="nav-item" *ngIf="user | async">
      <div class="sync-wrapper">
        <app-busy [isBusy]="isSyncing" [size]="1.5" [fadeOut]="true"></app-busy>
      </div>

      <button id="sync-ok" *ngIf="isUserSessionAlive | async" class="smaller btn-icon fa fa-check-circle" title="online"></button>
      <button id="sync-warning" *ngIf="!(isUserSessionAlive | async)" class="smaller btn-icon fa fa-exclamation-circle"
        title="offline" (click)="login()"></button>
      <p class="sideways">{{ (user | async).name }}</p>
      <button class="btn-icon fa fa-user-circle" title="logout" (click)="logout()">
      </button>
    </div>
    <div class="nav-item" *ngIf="!(user | async)">
      <button class="btn-icon fa fa-sign-in" title="login" (click)="login()">
      </button>
    </div>
  </div>
</nav>
