<nav>
  <div class="content-menu">
    <div class="nav-item">
      <button class="btn-icon fa fa-plus-square" title="add" (click)="openBooks()"></button>
    </div>
  </div>
  <div class="navigation-menu">

    <div [routerLink]="n.routerLink" class="nav-item" [ngClass]="{ 'nav-item-active': n.isActive }" *ngFor="let n of navigationItems">
      <p *ngIf="n.isActive" class="sideways">{{ n.name }}</p>
      <button class="btn-icon fa fa-{{n.icon}}" title="n.name">
      </button>
    </div>

  </div>
  <div class="login-menu">
    <div class="nav-item">
      <button class="btn-icon fa fa-sign-in" (click)="login()">
      </button>
    </div>
  </div>
</nav>
