:host {
  display: flex;
}

nav {
  color: white;
  background: #333;
  width: 4em;
  text-align: center;
  padding: 1em 0;
}

nav > button {
  color: lightgray;
  font-size: 2em;
  margin: 0.4em 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
