<div id="note-title" [hidden]="!editorReady" [ngClass]="{'edit-mode': titleEditMode }" #noteTitle>
  <label *ngIf="!titleEditMode" class="note-title" (dblclick)="setTitleEditMode(true)" from="name">
    {{ selectedNote?.name }}</label>
  <form [formGroup]="titleForm" novalidate>
    <input *ngIf="titleEditMode" class="note-title" (keydown.enter)="onTitleEditComplete()" (blur)="setTitleEditMode(false)"
    type="text" formControlName="title">
  </form>

</div>

<textarea id="{{ elementId }}"></textarea>
<div *ngIf="!selectedNote" class="editor-placeholder">
  <div class="placeholder-content">
    <span class="text">add note</span>
    <button class="add-note plain-btn btn-add" (click)="onAddNote()">
      <span class="icon icon-plus"></span>
    </button>
  </div>
</div>
