<div id="note-title-wrapper" [ngClass]="{'edit-mode': titleEditMode,'validation-error': titleForm.status === 'INVALID' }"
  #noteTitle>
  <label *ngIf="!titleEditMode" class="note-title" (dblclick)="setTitleEditMode(true)" from="title">
    {{ selectedNote?.name }}</label>
  <form [formGroup]="titleForm" novalidate>
    <input *ngIf="titleEditMode" class="note-title" (keydown.enter)="onTitleEditComplete()" (blur)="setTitleEditMode(false)"
      type="text" formControlName="title" [ngModel]="selectedNote?.name">
  </form>
  <div [@saveState]="saveState" class="loader state"></div>
</div>

<textarea id="{{ elementId }}"></textarea>
<div *ngIf="!selectedNote" class="editor-placeholder">
  <div class="placeholder-content">
    <span class="text">add note</span>
    <button class="add-note plain-btn btn-add" (click)="onAddNote()">
      <span class="icon icon-plus"></span>
    </button>
  </div>
</div>
