<form [formGroup]="addEditForm" (ngSubmit)="submit()" #ngForm>
  <div class="dialog-header">
    <h1 class="title">{{ title }}</h1>
  </div>

  <div class="dialog-content">
    <div class="form-group">
      <small [@growIn] class="error" *ngIf="name.invalid && (name.dirty || name.touched)">
        Name required
      </small>
      <input type="text" class="form-control" name="name" placeholder="Name" formControlName="name" />
    </div>
  </div>

  <div class="dialog-buttons">
    <button class="btn btn-plain btn-cancel btn-left" (click)="cancel()">Cancel</button>
    <button type="submit" [disabled]="name.invalid" class="btn btn-plain btn-ok btn-right" #okButton>Ok</button>
  </div>
</form>
