.app-layout {
  display: flex;
  height: 100%;
  overflow-y: auto;
  align-items: stretch;
}

app-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

router-outlet {
  margin-left: 4em;
}

notifier-container ul {
  padding: 0 !important;
}
