.tiled {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 1rem;
  justify-content: center;
  align-content: flex-start;
  padding: 0;
  list-style: none;
  margin: 4vh;
}

.tiled>li {
  position: relative;
  width: 200px;
  height: 150px;
  border-radius: 0.3em;
  color: white;
  cursor: pointer;
  background: #333;
  overflow: hidden;
  text-align: center;
}

.tiled>li .btn-delete {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: #444;
  cursor: pointer;
  visibility: collapse;
}

.tiled>li:hover .btn-delete {
  visibility: visible;
}

.tiled>li .btn-delete:hover {
  color: white;
}

.tiled>li .list-group-item {
  padding: 5px 10px;
  font-size: 1em;
  color: #888;
  float: left;
  border: 0;
}

.detail-list .selected {
  color: white;
}

.tiled>li.selected .detail-list {
  visibility: visible;
}

.book-title-count {
  margin: 5px;
  padding: 0 2px;
  background: slategray;
  border: 1px solid slategray;
  border-radius: 0.3em;
  color: white;
  cursor: inherit;
  display: block;
}

.book-title-name {
  cursor: inherit;
  font-size: 1.2em;
  line-height: 1.2em;
}

.book-title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  cursor: pointer;
  border-radius: 0.3em;
  font-size: 1.2em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-detail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: lightgray;
  border-radius: 0.3em;
  text-align: left;
}

.book-detail>ul {
  list-style-type: none;
  margin: 5px;
  padding: 0 5px;
}

.book-content {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  left: 0;
  border-radius: 0.3em;
  background: lightslategray;
  transition: right 0.15s ease-out;
  cursor: pointer;
}

.tiled>li:hover .book-content {
  right: 40px;
  transition: right 0.15s ease-in;
}
