<section>

  <div id="app-notes-list">
    <header class="note-list-header">
      <div class="header-row">
        <button class="btn-icon dark-themed btn-section" (click)="closeBook()">
          <span class="icon icon-book"></span>
        </button>
        <span id="bookTitle" class="dark-themed">{{book.name}}</span>

        <button class="add-note btn-icon btn-add dark-themed" (click)="addNote()">
          <span class="icon icon-list-add"></span>
        </button>
      </div>

      <div class="note-filter">
        <input class="form-control search-box" type="text" placeholder="Search" [ngModel]="noteFilter | async" (ngModelChange)="filter($event)">
      </div>
    </header>
    <app-notes-list [notes]="filteredNotes | async" [selectedNoteId]="selectedNoteId | async" [bookTitle]="book.name" (selectNote)="selectNote($event)"
      (deleteNote)="deleteNote($event)">
    </app-notes-list>

  </div>
  <div id="app-editor">
    <app-editor [selectedNote]="selectedNote | async" [saveState]="saveState" (changeNote)="updateNote($event)" (addNote)=addNote()></app-editor>
  </div>
</section>
