#books-section {
  flex-direction: column;
  background-color: #444;
}

.books-header {
  text-align: center;
  padding: 1em 0;
  line-height: 1em;
}

.btn-nb-add {
  font-size: 2em;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  color: lightgray;
  background: transparent;
}

.btn-nb-add span {
  cursor: inherit;
}

.btn-nb-add:focus {
  outline: 0;
}

.btn-nb-add:hover {
  color: #eee;
  /*background: slategray;*/
  background-image: linear-gradient(180deg, slategray, #444);
}

.books-header .btn-nb-add {
  display: inline-block;
  padding: 0 15px;
  margin-left: 10px;
}

.books-header h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  display: inline;
}

div.right {
  float: right;
}
