@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/photonkit/dist/css/photon.css";

html, body, section {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dark-themed {
  color: #eee;
}

.light-themed {
  color: #444;
}


/* buttons */

.plain-btn {
  font-size: 1.5em;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.plain-btn span {
  cursor: inherit;
}

.btn-add:hover {
  color: lightgreen;
}

.btn-delete:hover {
  color: lightcoral;
}

.btn-section:hover {
  color: slategray;
}
/*
.pane-group {
  position: absolute;
  bottom: 0;
  display: flex;
}



.pane-group, .window {
  top: 0;
  left: 0;
  right: 0;
}

.pane:first-child {
  border-left: 0;
}

.pane {
  position: relative;
  border: 0;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  border-left: 1px solid #ddd;
}


.list-group-item:first-child {
  border-top: 0;
}

.list-group-item {
  padding: 10px;
  font-size: 12px;
  color: #414142;
  border-top: 1px solid #ddd;
}

.list-group * {
  margin: 0;
}

.list-group *, .media-body, .nav-group-item, td, th {
  overflow: hidden;
}

.list-group *, .nav-group-item, h1, h2, h3, h4, h5, h6, label, td, th {
  white-space: nowrap;
  text-overflow: ellipsis;
} */

.sidebar {
  background: #444;
  /* border-right: 1px solid #ddd; */
}

/* icons */


/* .icon {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 2em;
 text-align: center;
}

.icon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.icon-plus:before {
  content: '+';
} */

[data-icon]:before {
  font-family: icons;
  font-weight: bold;
  content: attr(data-icon);
  speak: none;
}


/* .mat-dialog-container {
  width: auto;
  height: auto;
} */


/*
md-dialog-container {
  width: auto;
  height: auto;
  position: fixed;
  left: 10%;
  top: 10%;
  right: 10%;
  background-color: white;
  z-index: 100000;
} */


/* md-dialog {
  height: auto;
  vertical-align: central;
  align-items: center;
} */
