@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/photonkit/dist/css/photon.css';
@import 'assets/styles/editor.css';
@import 'assets/styles/dialog.css';
@import 'assets/styles/scrollbar.css';
@import 'assets/styles/gutter.css';

html,
body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  font-weight: 100;
}

section {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

body {
  background: #444;
}

.dark-themed {
  color: #eee;
}

.light-themed {
  color: #444;
}

/* buttons */
.btn-plain {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 2px;
  min-width: 88px;
  font-size: 1em;
  line-height: 2em;
  border-radius: 2px;
  color: #444;
  background: transparent;
}

.btn-plain:hover {
  /* border: 1px solid lightslategray; */
  background: slategray;
  color: white;
  /* border-radius: 0; */
}

.btn-icon {
  font-size: 1.5em;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.btn-icon span {
  cursor: inherit;
}

.btn-add:hover {
  color: lightgreen;
}

.btn-delete:hover {
  color: #f04949;
}

.btn-section:hover {
  color: slategray;
}

button:focus {
  outline: 0;
}

.form-control {
  border-radius: 3px;
  border: 0;
  background: lightgray;
}

.form-control:focus {
  border-color: #9ab;
  background: #fff;
  box-shadow: 0 0 0 0;
}

.search-box::-webkit-input-placeholder {
  color: #444;
}
