@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/photonkit/dist/css/photon.css';
@import 'assets/styles/editor.css';
@import 'assets/styles/dialog.css';
@import 'assets/styles/scrollbar.css';

html,
body,
section {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dark-themed {
  color: #eee;
}

.light-themed {
  color: #444;
}

/* buttons */
.btn-plain {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 2px;
  min-width: 88px;
  font-size: 1em;
  line-height: 2em;
  border-radius: 2px;
  color: #444;
  background: transparent;
}

.btn-plain:hover {
  /* border: 1px solid lightslategray; */
  background: slategray;
  color: white;
  /* border-radius: 0; */
}

.btn-icon {
  font-size: 1.5em;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.btn-icon span {
  cursor: inherit;
}

.btn-add:hover {
  color: lightgreen;
}

.btn-delete:hover {
  color: lightcoral;
}

.btn-section:hover {
  color: slategray;
}

button:focus {
  outline: 0;
}

.form-control:focus {
  border-color: #99aabb;
  background: #eee;
  box-shadow: 0 0 0 0;
}
