@import 'scrollbar.css';
/* editor toolbar */

.tox-tinymce {
  border: 0 !important;
}

.tox-panel {
  background-color: white !important;
  border-color: #ddd !important;
}

.tox-btn {
  background-color: white !important;
}

.tox-btn.tox-active button {
  background: slategray !important;
}

.tox-container::before {
  box-shadow: none !important;
}

.tox-listbox button {
  padding-right: 20px !important;
}

body {
  font-size: 11pt;
}

.tox-menubtn.tox-fixed-width span {
  width: auto !important;
}

.tox-primary button {
  color: white !important;
}

.tox-btn.tox-primary {
  background-color: lightslategray !important;
}

.tox-toolbar .tox-ico {
  color: #444;
}

.tox-edit-area {
  border-top: 0 !important;
}

#note-header {
  background: white;
}

.tox-sidebar-wrap {
  display: flex !important;
  flex-direction: column !important;
  flex: 1 !important;
}

.tox-tinymce iframe {
  flex: 1 !important;
}

.tox-tinymce:not(.tox-floatpanel) {
  min-height: 100%;
}

/* content styles */

a,
a:active,
a:focus {
  color: #139ff7;
}

a:hover {
  /* TODO */
  color: #00f;
}

table.tox-item-table,
.tox-item-table td,
.tox-item-table th,
.tox-item-table caption {
  border: none;
}

ul.todo-list {
  padding-left: 20px;
  list-style-type: none;
}

ul.todo-list input[type='checkbox'] {
  margin-right: 0.5em;
  vertical-align: middle;
}

i.tox-i-todoList:before {
  content: '\f046';
  font-family: FontAwesome;
}

#cke_editor {
  border: 0;
}

.tox-i-attachment {
  position: relative;
  text-align: center;
}

.tox-i-attachment:before {
  content: '\f0c6';
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  text-align: center;
  vertical-align: bottom;
}

button {
  cursor: pointer !important;
}

@media print {
  .title-print {
    display: initial;
    font-size: 2.5em;
    color: slategray;
  }
}
