@import 'scrollbar.css';
/* editor toolbar */

.mce-tinymce {
  border: 0 !important;
}

.mce-panel {
  background-color: white !important;
  border-color: #ddd !important;
}

.mce-btn {
  background-color: white !important;
}

.mce-btn button {
  color: #444 !important;
  padding: 2px 4px !important;
}

.mce-btn.mce-active button {
  background: slategray !important;
}

.mce-container::before {
  box-shadow: none !important;
}

.mce-listbox button {
  padding-right: 20px !important;
}

.mce-txt {
  font-size: 12px !important;
}

.mce-menubtn.mce-fixed-width span {
  width: auto !important;
}

.mce-primary button {
  color: white !important;
}

.mce-btn.mce-primary {
  background-color: lightslategray !important;
}

.mce-toolbar .mce-ico {
  color: #444;
}

.mce-edit-area {
  border-top: 0 !important;
}

/* content styles */

a,
a:active,
a:focus {
  color: #139ff7;
}

a:hover {
  /* TODO */
  color: #00f;
}

table.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
  border: none;
}

ul.todo-list {
  padding-left: 20px;
  list-style-type: none;
}

ul.todo-list input[type='checkbox'] {
  margin-right: 0.5em;
  vertical-align: middle;
}

i.mce-i-todoList:before {
  content: '\f046';
  font-family: FontAwesome;
}

#cke_editor {
  border: 0;
}

.mce-container .note-title {
  font-size: 2.5em;
  box-sizing: border-box;
  color: inherit;
}

#note-title-wrapper form,
#note-title-wrapper label {
  grid-column: 1;
  grid-row: 1;
}

#note-title-wrapper input.note-title {
  width: 100%;
}

#note-title-wrapper {
  display: grid;
  grid-template-columns: auto 30px;
  grid-template-rows: auto;
  align-items: center;
  padding: 8px;
  color: slategray;
}

#note-title-wrapper .state {
  grid-column: 2;
}

.edit-mode {
  background: slategray !important;
  color: white !important;
}

.edit-mode form {
  color: inherit;
}

.validation-error {
  background: lightcoral !important;
}

.title-print {
  display: none;
}

.attachment.fa {
  font-family: 'FontAwesome' !important;
  font-size: 1.5em !important;
}

.smaller.attachment.fa {
  font-size: 1em !important;
}

@media print {
  .title-print {
    display: initial;
    font-size: 2.5em;
    color: slategray;
  }
}
