.gutter {
  background: transparent;
  opacity: 0;
}

.gutter:hover {
  opacity: 1;
}

.gutter.gutter-horizontal {
  background: lightslategray url('../images/handle.png') 50% no-repeat;
  image-rendering: pixelated;
  cursor: ew-resize;
}
