.icon-edit:before {
  font-family: FontAwesome;
  content: '\f040';
}

.icon-delete:before {
  font-family: FontAwesome;
  content: '\f1f8';
}

.icon-plus:before {
  font-family: FontAwesome;
  content: '\f0fe';
}

.icon-plus-simple:before {
  font-family: FontAwesome;
  content: '\f067';
}
