body {
  overflow-y: hidden;
}

#titlebar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 32px;
  width: 100%;
  z-index: 999;
  background: #eee;
  font: 12px/32px system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  color: #555;
  user-select: none;
  cursor: default;
}

.ui-titleicon {
  flex-grow: 1;
  max-width: 32px;
  max-height: 32px;
}

.ui-titletext {
  flex-grow: 2;
  max-height: 32px;
  width: auto;
  /* font: 12px/32px "Segoe UI", Arial, sans-serif; */
  /* color: #fff; */
  text-indent: 10px;
  -webkit-app-region: drag;
}

.ui-titlecontrols {
  max-width: 144px;
  max-height: 32px;
  flex-grow: 1;
}

.ui-btn {
  margin: 0;
  width: 48px;
  height: 32px;
  border: 0;
  outline: 0;
  background: transparent;
}

.ui-btn:hover {
  background: rgba(0, 0, 0, .1);
}

.ui-btn.close:hover {
  background: #e81123;
}

.ui-btn svg path,
.ui-btn svg rect,
.ui-btn svg polygon {
  fill: #555;
}

.ui-btn svg {
  width: 10px;
  height: 10px;
}

.ui-btn.close:hover svg polygon {
  fill: #fff;
}
