/* .books-wrapper {
  position: absolute;
  top: 4em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: auto;
} */

.tiled {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 2%;
  margin: 20px auto;
  width: 80%;
  padding: 0;
}

.tiled > li {
  position: relative;
  width: 200px;
  height: 150px;
  border: 1px solid slategray;
  border-radius: .3em;
  margin: 10px;
  color: white;
  cursor: pointer;
  background: slategray;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

.tiled > li.selected {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tiled > li .btn-delete {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #444;
}

.tiled > li > .btn-delete:hover {
  color: white;
}


/* .tiled > li.ui-selected .btn-delete {
  line-height: 50px;
  bottom: initial;
  transition: all linear .2s;
} */


/* .tiled > li .detail-list {
  position: absolute;
  top: 50px;
  bottom: 0;
  font-size: 1em;
  color: #666;
  list-style-type: none;
  background: lightgray;
  visibility: collapse;
  text-align: center;
} */

.tiled > li .list-group-item {
  padding: 5px 10px;
  font-size: 1em;
  color: #888;
  float: left;
  border: 0;
}

.detail-list .selected {
  color: white;
}

.tiled > li.selected .detail-list {
  /*top: 50px;
 left: 0;
 transition: all linear .2s;*/
  visibility: visible;
}

.book-title-count {
  margin: 5px;
  padding: 0 2px;
  background: slategray;
  border: 1px solid slategray;
  border-radius: .3em;
  color: white;
  cursor: inherit;
  /* background: blue; */
  display: block;
}

.book-title-name {
  cursor: inherit;
  /* background: green; */
  font-size: 1.2em;
  line-height: 1.2em;
}

.book-title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  vertical-align: center;
  cursor: pointer;
  border-radius: .3em;
  /* background: lightslategray; */
  font-size: 1.2em;
  width: 100%;
  /* width: 100%;
  height: 100%; */
}

.book-detail {
  /* position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: lightgray;
  border-radius: .3em;
  text-align: left;
}

.book-detail > ul {
  list-style-type: none;
  margin: 5px;
  padding: 0 5px;
}

.book-content {
  position: absolute;
  top: 10px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  /* width: 80%;
  height: 80%; */
  margin: 10px;
  border-radius: .3em;
  /* background: red; */
  background: lightslategray;
}
