#editor {
  display: none;
}

#notebookHeader {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: #444;
  margin: 0;
  padding: 0;
  /*width: 220px;*/
}

#notebookHeader .title {
  color: #eee;
  font-size: 1.5em;
  /* 18px*/
  /*margin: auto auto;*/
}

#notebookHeader .btn-group {
  float: right;
}

#noteSearch {
  padding: 10px;
}


.pane {
  overflow: hidden;
}

.pane {
  border: 0;
}

.editor-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: lightgray;
  /*background-image: linear-gradient(180deg, slategray, lightgray);*/
  display: none;
}

.placeholder-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
}

.placeholder-content > .text {
  font-size: 4em;
}

.placeholder-content > .add-note {
  cursor: pointer;
  border: 2px solid;
  border-radius: .1em;
  font-size: 6em;
  line-height: 1em;
  width: 1.2em;
  height: 1.2em;
  display: block;
  margin: .4em auto 0 auto;
}

.placeholder-content > .add-note span {
  cursor: pointer;
}

.placeholder-content > .add-note:hover {
  background: slategray;
  color: white;
}

.media-body {
  display: block;
}

#noteList {
  overflow-y: auto;
  height: 100%;
}

#noteList .list-group-item {
  border-top: 1px solid #666;
  color: #ddd;
}

#noteList .list-group-item:first-child {
  border-top: 0;
}

#noteList .list-group-item-text {
  color: gray;
}

.active-note {
  background-color: white;
}

.ui-selecting {
  background: lightgray;
}

#noteList .ui-selected {
  /*background: lightslategray;*/
  background: linear-gradient(90deg, #444, lightslategray);
  color: white;
}

#noteList .ui-selected .list-group-item-text {
  color: lightgray;
}

.note-icon {
  float: right;
  visibility: collapse;
}

li:hover .note-icon {
  visibility: visible;
  cursor: pointer;
}

.sidebar {
  background: #444;
}

#note-header {
  margin: 0;
  padding: 0;
}
