#noteList .list-group-item {
  border-top: 1px solid #666;
  color: #ddd;
}

#noteList .list-group-item:first-child {
  border-top: 0;
}

#noteList .list-group-item-text {
  color: gray;
}

.active-note {
  background-color: white;
}

#noteList .selected {
  /*background: lightslategray;*/
  background: linear-gradient(90deg, #444, lightslategray);
  color: white;
}

#noteList .selected .list-group-item-text {
  color: lightgray;
}

#noteList h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.note-icon {
  float: right;
  visibility: collapse;
}

li:hover .note-icon {
  visibility: visible;
  cursor: pointer;
}

#note-header {
  margin: 0;
  padding: 0;
}
