<div class="dialog-header">
  <h1 class="title">add book</h1>
</div>

<div class="dialog-content">
  <input class="form-control" type="text" tabindex="1" placeholder="Name" #nameInput (keyup.enter)="okButton.click()">
</div>

<div class="dialog-buttons">
  <button id="cancel" class="btn btn-plain btn-cancel btn-left" (click)="onCancel()" tabindex="-1">Cancel</button>
  <button id="ok" class="btn btn-plain btn-ok btn-right" (click)="dialogRef.close(nameInput.value)" tabindex="2" #okButton>Ok</button>
</div>
