<section id="settings-section">
  <header>
    <h1><span class="fa fa-cog"></span> {{ pageTitle }}</h1>
  </header>
  <ul class="panel" [formGroup]="configGroup">
    <li class="container">
      <div class="left">Import books</div>
      <div class="right">
        <button class="btn-icon dark-themed" title="Import" (click)="import()">
          <span class="icon icon-download"></span>
        </button>
      </div>
    </li>
    <li class="container">
      <div class="left">Export books to JSON file</div>
      <div class="right">
        <button class="btn-icon dark-themed" title="Export" (click)="export()">
          <span class="icon icon-export"></span>
        </button>
      </div>
    </li>
    <li class="container" *ngIf="configItemExists('remoteUrl')">
      <div class="left">Remote Url</div>
      <div class="right">
        <input
          class="form-control"
          type="text"
          placeholder="Enter URL"
          formControlName="remoteUrl"
          (keydown.enter)="setRemoteUrl(); $event.target.blur()"
          title="{{ getConfigValue('remoteUrl') }}"
        />
        <div class="status" *ngIf="remoteUrlState !== connectionState.NONE">
          <span
            class="icon"
            [class.status-error]="remoteUrlState === connectionState.ERROR"
            [class.status-ok]="remoteUrlState === connectionState.OK"
          ></span>
        </div>
      </div>
    </li>
    <li class="container" *ngIf="configStore['nativeWindow'] !== undefined">
      <div class="left">Native window <span class="info">requires restart!</span></div>
      <div class="right">
        <span
          class="fa fa-toggle-on value-icon"
          [class.hidden]="!nativeWindowInput.checked"
          (click)="nativeWindowInput.click()"
        ></span>
        <span
          class="fa fa-toggle-off value-icon"
          [class.hidden]="nativeWindowInput.checked"
          (click)="nativeWindowInput.click()"
        ></span>
        <input
          type="checkbox"
          name="nativeWindow"
          (change)="saveConfig()"
          formControlName="nativeWindow"
          class="hidden"
          #nativeWindowInput
        />
      </div>
    </li>
  </ul>
</section>
