:host {
  display: flex;
  flex: 1;
}

section {
  flex-direction: column;
  align-items: center;
}

section > header {
  color: #888;
}

header .left {
  float: left;
}

.panel {
  flex: 1;
  width: 50%;
  min-width: 300px;
  background: #555;
  margin: 2em 0;
  border-radius: 4px;
  list-style: none;
  padding: 0;
}

.panel .container {
  display: flex;
  align-items: stretch;
  color: white;
  border-top: 1px solid transparent;
  height: 3em;
}

.panel > :first-child {
  border-top: 0;
}

.container > * {
  align-items: center;
  display: flex;
}

.container > .left {
  flex: 2;
  background: slategray;
  font-size: 1.2em;
  padding-left: 1em;
}

.container > .left .info {
  margin-left: 5px;
  font-size: 0.8em;
  color: khaki;
  background: lightslategray;
  padding: 0 5px;
  border-radius: 2px;
}

.container > .right {
  flex: 1;
  text-align: right;
  background: gray;
  border-left: 1px solid darkgray;
}

.container > .right > .status {
  height: 100%;
  display: table;
  padding: 5px;
}

.status > .icon {
  display: table-cell;
  vertical-align: middle;
}

.status-error:after {
  font-family: FontAwesome;
  content: '\f071';
  color: #bd3d3a;
}

.status-ok:after {
  font-family: FontAwesome;
  content: '\f00c';
  color: #ad7;
}

.panel > :first-child > .left {
  border-top-left-radius: 4px;
}

.panel > :first-child > .right {
  border-top-right-radius: 4px;
}

.container button {
  width: 100%;
  height: 100%;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.container button:hover {
  background-image: linear-gradient(to bottom, darkgray, gray);
}

.container .right input {
  width: 100%;
  height: 100%;
  color: #444;
  background: white;
  border: 0;
  border-radius: 0;
}

.container .right .value-icon {
  margin: auto;
  font-size: 1.5em;
}

.container input::placeholder {
  color: lightgray !important;
  text-align: center;
}

.container input {
  color: white !important;
  background-color: gray !important;
  text-overflow: ellipsis;
}

.container input:focus {
  color: #333 !important;
  background-color: lightgray !important;
}

.container input[type='checkbox'] {
  margin: 0;
}

.container .hidden {
  display: none;
}
